<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding>
      <dependentAssembly>
        <assemblyIdentity name="CommonLib" publicKeyToken="f0b5026b59d5645e"
         culture="neutral" />
      </dependentAssembly>
      <probing privatePath="dll"/>
    </assemblyBinding>
  </runtime>
</configuration>